<div id="<%= dom_id crew %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Movie:</strong>
    <%= crew.movie_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= crew.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= crew.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this crew", crew, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this crew", edit_crew_path(crew), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
